main {
    flex-grow: 1;
    width: 100%;
}

main form {
    width: max-content;
    padding: 1rem;
}

main form fieldset {
    width: max-content;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 1rem;
}

main form fieldset button {
    padding: 0 1rem;
}
