{{define "title"}}Contact Details{{end}}
{{define "main"}}
    <main>
        <h2>{{ .FirstName }} {{ .LastName }}</h2>

        <div>
            <div>Phone: {{ .PhoneNumber }}</div>
            <div>Email: {{ .EmailAddress }}</div>
        </div>

        <p>
            <a href="/contacts/{{ .ID }}/edit">Edit</a>
            <a href="/contacts">Back</a>
        </p>
    </main>

{{end}}
